body {
    background-color: #F09C3A !important;
}
   /* Yadi Section */
    .restaurant-section {
        padding: 10vmin 10vmin 0vmin 0vmin;
    }
    .restaurant-section-2{
        padding: 10vmin 10vmin ;
        padding-bottom: 10vmin;
    }
    .restaurant-pic img{
        height: 500px;
        width: 540px;
        box-shadow: 10px 40px 45px 22px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        display: flex;
        justify-content: center;
    }
    
    .label {
        width: 530px;
        background: #f1e5be;
        border-radius: 40px;
        text-align: center;
        box-shadow: 10px 40px 45px 10px rgba(0, 0, 0, 0.3);
    }

/* Chris's CSS */
.box1 {
    background-color: #C4C4C4;
    border: 40px solid #F5F1E4;
    padding: 70px;
}
.paymentH1{
    color: #F5F1E4;
    font-size: 58px;
}

html{
    box-sizing: border-box;
}

body{
    background-color: #F09C3A;
}

/* Misael's CSS */
.food-option{
     background-color: #fffffd;   
}
.parallax {
    /* Set a specific height */
    min-height: 800px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

.imgHero {
    /* The image used */
    background-image: url("../media/pexels-koolshooters-6977378.jpg");
}

#heroText {
    margin-top:vh;
    margin-left: 15vw;
}

.box {
    background-color: #F09C3A;
    width: 25px;
}

.img-thumbnail {
    border: none !important;
}

.imgSize {
    max-width: 50px !important;
}

.rowHeight {
    height: min-content;
}

/* Tsion CSS */
h2{
    color: white; 
    font-size: 40px;  
    font-family: ;
}
.cover{
    position: relative;
    z-index: 0;
    width: 100%; 
}

.variety .card{
    border: 0;
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
    background: transparent;
    border-radius: 10px;
}
.variety .card-img{
    width: calc(100% + 50px);
    height: 50vh;
    margin-left:-30px;
    overflow: hidden;
    z-index: 9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    object-position: 10%, 10%;
}
.card-img:hover{
    transition: transform 500ms ease-in-out 25ms;
}

.variety .card-img img{
    /* width: 100%; */
    transition: all 0.3s ease-in-out;
    /* object-fit: contain; */
}
.card-img{
    box-shadow: 0px 2px 15px rgba(11, 11, 4, 0.5);
}
.variety .card-body{
    z-index: 10; 
    background:#f1e5be;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 2px 15px rgba(11, 11, 4, 0.5);
    margin-top: -60px;
    transition: 0.3s;
    height: 20%; 
 }
.variety .card-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.variety .card-title a{
    color: #000;
    transition: 0.3s;
}
.variety .card-text{
    color: #000;
}
.card-price {
   font-weight: bold; 
}
.add-to-cart{
 font-weight: bold;   
}

.variety .card:hover img{
    transform: scale(1.1);
}
.variety .card:hover .card-body{
  border-color:  #d68324
}
.variety .card:hover  .card-body .card-title a{ 
    color: #F09C3A
}

/* Moon */
.payment-popup {
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}

.confirmationPopUp {
    display: none;
    position: fixed;
    z-index: 9;
    width: 100%;
    justify-content: center;
    align-items: center;
    transform: translate(0%, 150%);
}

.popUpContainer {
    width: 900px;
    height: 250px;
    padding: 20px;
    background-color: #FFF;
    border: 3px solid black;
}

#paymentSubmit {
    display: none;
}